dist*
loc-man-server/static/tmp/
loc-man-server/static/combined/
loc-man-server/config/client_session_key.aes
*.hi
*.o
*.sqlite3
*.sh
.hsenv*
cabal-dev/
yesod-devel/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
*.swp
*.swo
.anvil
default/
.dir-locals.el
.stack-work
stack.yaml
.ghci
loc-man-server/config/settings.yml
